<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link rel="stylesheet" href="/assets/css/stackoverflow-dark.min.css">
    <script src="/assets/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <title>{{ project }} - {{ title }}</title>
</head>
<body>

    <div class="nav">
        <a href="/index.html" class="nav-header">
            <img src="https://serversmp.xyz/img/icon.png">
            <h1>Guide</h1>
        </a>
        {{ navigationBar }}
    </div>

    <div class="container">
        <main>
            {{ content }}

            <!-- <button class="button button-secondary">Previous</button> -->
            <!-- <button class="button button-secondary">Next</button> -->
        </main>
    </div>

</body>
</html>